<manifest package="com.example.eztamilreader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="EzTamil Reader"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.SubscriptionActivity" />
        <activity android:name=".ui.ResultActivity" />
        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.WorksheetActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.OnboardingActivity" />

        <!-- Launcher Activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>